[submodule "external/AudioEngine"]
	path = external/AudioEngine
	url = ssh://pidevice-1@192.168.86.47:2222/jay/RustToCaudioEngine.git
[submodule "external/Midi"]
	path = external/Midi
	url = ssh://pidevice-1@192.168.86.47:2222/jay/LinuxMidiTest.git
